.vscode/keil-assistant.log
.vscode/uv4.log
.vscode/uv4.log.lock
Listings/Keil_Project.m51
Listings/main.lst
Listings/uart.lst
Objects/Keil_Project
Objects/Keil_Project.build_log.htm
Objects/Keil_Project.hex
Objects/main.obj
Objects/uart.__i
Objects/uart.obj
.vscode/uv4.log
.vscode/keil-assistant.log
.gitignore
Objects/uart.obj
Objects/main.obj
Objects/Keil_Project.hex
Objects/Keil_Project.build_log.htm
Objects/Keil_Project
Listings/uart.lst
Listings/main.lst
Listings/Keil_Project.m51
.vscode/uv4.log
.vscode/keil-assistant.log
.vscode/uv4.log.lock
.gitignore
Objects/uart.obj
Objects/main.obj
Objects/Keil_Project.hex
Objects/Keil_Project.build_log.htm
Objects/Keil_Project
Listings/uart.lst
Listings/main.lst
Listings/Keil_Project.m51
.vscode/uv4.log
.vscode/keil-assistant.log
.vscode/uv4.log.lock
